@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* font-family: 'Righteous', sans-serif; */
/* font-family: 'Sarala', sans-serif; */
/* https://www.behance.net/gallery/140168573/Full-Stack-Developer-Portfolio-Website */
:root{
	/* Cores globais */
	--cor-fundo: #101630;
	--cor-cabecalho: rgba(2, 10, 124, 0.226);
	--cor-cabecalho-sombra: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	--cor-texto-destaque: #ff6600;
	--cor-borda-imagem: 10px solid #ff6600;
	--cor-texto-pre-titulo: #898c97;
	--cor-texto-titulo: #fff;
	--cor-botao-destaque: linear-gradient(90deg, #ffd000, #ff6600);
	--cor-botao-ativo: linear-gradient(90deg, #ff6600, #ffd000);
	--cor-botao-inativo: 1px solid #ff6600;
	
	/* Números globais */

}
/* Início Efeitos globais */

* {
	margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
	font-family: 'Sarala', sans-serif;
	text-decoration: none;
	color: #fff;
	cursor:url(./Cursor/normal.cur) 10 3, default;
	scroll-behavior: smooth;
    line-height: 1;
    list-style: none;
}
:target {
	scroll-margin-top: .8em;
  }

*:link {
	cursor:url(./Cursor/link.cur) 10 3, pointer;
}
*:blank {
	cursor:url(./Cursor/unavailable.cur) 10 3, pointer;
}
/* Fim Efeitos globais */

body {
	background-color: var(--cor-fundo); 
	display: flex;
	justify-content: center;
}
.cabecalho {
	width: 100%;
	z-index: 10;
	position: fixed;
	display: flex;
	justify-content: center;
	left: 0;
	background: var(--cor-cabecalho);
    box-shadow: var(--cor-cabecalho-sombra);
    backdrop-filter: blur( 13.5px );
}
.cabecalho-conteudo {
	width: 80vw;
	display: flex;
	justify-content: space-between;
}
.cabecalho-imagem {
	height: 100px;
}
.cabecalho-menu {
	display: flex;
	gap: 20px;
	align-items: center;
	width: 70%;
	justify-content: space-between;
}
.cabecalho-menu-item {
	font-size: 18px;
	transition: .3s;
}
.cabecalho-menu-item:hover {
	color: var(--cor-texto-destaque);
	transition: .3s;
}
.botao-ativo {
	background: var(--cor-botao-destaque);
	padding: 30px 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
}
.botao-ativo:hover {
	background: var(--cor-botao-ativo);
	padding: 30px 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
}
.botao-inativo {
	border: var(--cor-botao-inativo);
	padding: 30px 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
}
.botao-inativo:hover {
	border: var(--cor-botao-inativo);
	background: var(--cor-botao-ativo);
	padding: 30px 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
}
.conteudo {
	display: flex;
	flex-direction: column;
	width: 80vw;
}
.conteudo-inicio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	height: 100vh;
	gap: 25px;
}
.conteudo-pre-titulo {
	font-family: 'Righteous', sans-serif;
	color: var(--cor-texto-pre-titulo);
}
.conteudo-titulo {
	font-family: 'Righteous', sans-serif;
	color: var(--cor-texto-titulo);
	font-size: 100px;
	font-weight: bold;
}
.sobre-mim {
	display: flex;
	gap: 50px;
	height: 100vh;
	width: 80vw;
	align-items: center;
	justify-content: center;
}
.sobre-mim-texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}
.sobre-mim-texto-titulo {
}
.sobre-mim-texto-paragrafo {
	text-align: justify;
}
.sobre-mim-botoes {
	display: flex;
	gap: 20px;
}
.imagem-left {
	height: 300px;
	border-radius: 10px;
	position: relative;
	top: -30px;
	left: -30px;
}
.imagem-right {
	height: 300px;
	border-radius: 10px;
	position: relative;
	top: -30px;
	right: -30px;
}
.borda-imagem {
	position: relative;
	margin: auto;	
	border: double 5px transparent;
	border-radius: 10px;
	background-image: linear-gradient(var(--cor-fundo),var(--cor-fundo)), radial-gradient(circle at top left, #ff6600, #ffd000);
	background-origin: border-box;
	background-clip: content-box, border-box;
}