@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* font-family: 'Righteous', sans-serif; */
/* font-family: 'Sarala', sans-serif; */
/* https://www.behance.net/gallery/140168573/Full-Stack-Developer-Portfolio-Website */
:root{
	/* Cores globais */
	--cor-fundo: #171e47;
	--cor-cabecalho: rgba(2, 10, 124, 0.226);
	--cor-cabecalho-sombra: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	--cor-texto-destaque: #ff6600;
	--cor-borda-imagem: 10px solid #ff6600;
	--cor-texto-pre-titulo: #898c97;
	--cor-texto-titulo: #fff;
	--cor-barra-rolagem: linear-gradient(-180deg, #ffd000, #ff6600);
	--cor-botao-destaque: linear-gradient(90deg, #ffd000, #ff6600);
	--cor-botao-ativo: linear-gradient(90deg, #ff6600, #ffd000);
	--cor-botao-inativo: 1px solid #ff6600;
	
	/* Números globais */

}
/* Início Efeitos globais */

* {
	margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
	font-family: 'Sarala', sans-serif;
	text-decoration: none;
	color: #fff;
	cursor:url(./Cursor/normal.cur) 10 3, default;
	scroll-behavior: smooth;
    line-height: 1;
    list-style: none;
}
/* Estilo da Barra de Rolagem */
::-webkit-scrollbar {
    width: 15px;
}

/* Estilo do Polegar da Barra de Rolagem */
::-webkit-scrollbar-thumb {
    background: var(--cor-barra-rolagem);
    border-radius: 6px;
}

/* Estilo da Trilha da Barra de Rolagem */
::-webkit-scrollbar-track {
    background-color: #575757;
    border-radius: 6px;
}
p {
    line-height: 1.5;
	font-size: 13px;
	color: #ffffffbe;
}
:target {
	scroll-margin-top: .8em;
  }

*:link {
	cursor:url(./Cursor/link.cur) 10 3, pointer;
}
*:blank {
	cursor:url(./Cursor/unavailable.cur) 10 3, pointer;
}
/* Fim Efeitos globais */

body {
	background-color: var(--cor-fundo); 
	display: flex;
	justify-content: center;
}
.cabecalho {
	width: 100%;
	z-index: 10;
	position: fixed;
	display: flex;
	justify-content: center;
	left: 0;
	background: var(--cor-cabecalho);
    box-shadow: var(--cor-cabecalho-sombra);
    backdrop-filter: blur( 13.5px );
}
.cabecalho-conteudo {
	width: 80vw;
	display: flex;
	justify-content: space-between;
}
.cabecalho-imagem {
	height: 100px;
}
.cabecalho-menu {
	display: flex;
	gap: 20px;
	align-items: center;
	width: 70%;
	justify-content: space-between;
}
.cabecalho-menu-item {
	font-size: 18px;
	transition: .3s;
	text-transform: uppercase;
}
.cabecalho-menu-item:hover {
	color: var(--cor-texto-destaque);
	transition: .3s;
	-webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.253));
}
.botao-ativo {
	background: var(--cor-botao-destaque);
	padding: 30px 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 4px, rgba(0, 0, 0, 0.7) 0px 8px 13px -3px, rgba(0, 0, 0, 0.6) 0px -5px 0px inset;
}
.botao-ativo:hover {
	background: var(--cor-botao-ativo);
	padding: 30px 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
	color: #fff;
}
.botao-inativo {
	border: var(--cor-botao-inativo);
	padding: 30px 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 4px, rgba(0, 0, 0, 0.7) 0px 8px 13px -3px, rgba(0, 0, 0, 0.6) 0px -5px 0px inset;
	
}
.botao-inativo:hover {
	border: var(--cor-botao-inativo);
	background: var(--cor-botao-ativo);
	padding: 30px 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
}
.conteudo {
	display: flex;
	flex-direction: column;
	width: 80vw;
}
.conteudo-inicio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	height: 100vh;
	gap: 25px;
}
.conteudo-pre-titulo {
	font-family: 'Righteous', sans-serif;
	color: var(--cor-texto-pre-titulo);
}
.conteudo-titulo {
	font-family: 'Righteous', sans-serif;
	color: var(--cor-texto-titulo);
	font-size: 100px;
	font-weight: bold;
}
#sobre-mim {
	height: 100vh;
}
#portifolio {
	display: flex;
	gap: 50px;
	flex-direction: column;
	padding: 50px;
	align-items: center;
	justify-content: center;
}
.portifolio-titulo {
	font-size: 35px;
	text-transform: uppercase;
}
.card {
	display: flex;
	gap: 50px;
	width: 80vw;
	padding: 50px;
	align-items: center;
	justify-content: center;
}
.card-texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}
.card-texto a {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.card-texto-titulo-geral {
	text-transform: uppercase;
	color: var(--cor-texto-destaque);
}
.card-texto-titulo {
}
.card-texto-paragrafo {
	text-align: justify;
}
.card-botoes {
	display: flex;
	gap: 20px;
}
.botao-seta {
		width: 15px;
		height: 15px;
		border: 4px solid #ffffff;
		border-left: 0;
		border-top: 0;
		transform: rotate(315deg);
}
.imagem-left {
	max-height: 30vw;
	max-width: 30vw;
	border-radius: 10px;
	position: relative;
	top: -30px;
	left: -30px;
}
.imagem-right {
	max-height: 30vw;
	max-width: 30vw;
	border-radius: 10px;
	position: relative;
	top: -30px;
	right: -30px;
}
.borda-imagem {
	position: relative;
	margin: auto;	
	border: double 5px transparent;
	border-radius: 10px;
	background-image: linear-gradient(var(--cor-fundo),var(--cor-fundo)), radial-gradient(circle at top left, #ff6600, #ffd000);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#servicos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	gap: 5vw;
}
.serviços-container-card {
	display: flex;
	gap: 30px;
}
.servicos-card-titulo {
	display: flex;
	align-items: center;
	gap: 10px;
}
.servicos-card-titulo a {
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 10px;
	color: #ff6600;
	border-radius: 50px;
}

.servicos-card {
	display: flex;
	gap: 30px;
	min-width:  20vw;
	flex-direction: column;
	align-items: center;
  	padding: 0.6em 2em;
  	color: rgb(255, 255, 255);
  	background: #111;
  	position: relative;
  	z-index: 0;
  	border-radius: 10px;
  	user-select: none;
  	touch-action: manipulation;
}	
.servicos-card p {
	text-align: justify;
}

.servicos-card::before {
	content: "";
	background: linear-gradient( 45deg, #00eeff, #0066ff );
	border: 5px solid #00eeff;
	position: absolute;
  	top: -2px;
  	left: -2px;
  	background-size: 400%;
  	z-index: -1;
  	filter: blur(10px);
  	width: calc(100% + 4px);
  	height: calc(100% + 4px);
  	border-radius: 10px;
}

.servicos-card::after {
  	z-index: -1;
  	content: "";
  	border: 5px solid #00a2ffb2;
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background: #222;
  	left: 0;
  	top: 0;
  	border-radius: 10px;
}
